<div class="image">
	<figure class="image__media">
		{{ content.field_ip_im_image }}
		{% if content.field_ip_im_caption|render %}
			<figcaption class="image__caption">
				{{ content.field_ip_im_caption }}
			</figcaption>
		{% endif %}
	</figure>
</div>
