<div class="silc-hero silc-hero--full-screen silc-hero--overlay">
	<div class="silc-hero__media">
		{{ content.field_ip_vd_video }}
	</div>
	<div class="silc-hero__content-wrapper">
		<div class="silc-hero__content">
			<h1>{{ content.field_ip_vd_title }}</h1>
			<p>{{ content.field_ip_vd_description }}</p>
		</div>
	</div>
</div>
